<div class="wrapper wrapper_padding clearfix">
	<div class="col-1 about homepage_content">
		<h2>About</h2>
		<hr>
		<p>I'm a junior fullstack web developer based in Denver, Colorado. I've been building websites since AOL was a household name and dial-up modems were obligatory.</p>
		<p>Since then, web applications have evolved, and so have my skills in building them.</p>
		<a class="read-more-show hide" href="#">Read more &raquo;</a> <span class="read-more-content">
		<p>I'm well-versed in vanilla JavaScript and Ruby, as well as HTML5, CSS3, and SQL. I have built RESTful, <%= link_to "production-grade web applications", projects_path %> in Ruby on Rails and Node.js, implementing both jQuery and Ajax.</p>
		<p>I have experience using Distributed Version Control Systems (DVCS), specifically Git, and the remote hosting service GitHub. I've also used both Heroku and Amazon Web Services (AWS) in production.</p>
		<div class="button_wrapper">
			<a href="<%= welcome_about_path %>" class="project_button">Learn More</a>
		</div>
		<br><br>
		<a class="read-more-hide hide" href="#">&laquo; Read less</a></span>
	</div>
	<div class="col-2 homepage_content">
		<h2>Blog</h2>
		<hr>
		<% @posts.each do |post| %>
			<h3><%= link_to post.title, post %></h3>
			<p class="date"><%= post.created_at.strftime("%b %d, %Y") %></p>
		<% end %>
	</div>
	<div class="col-3 homepage_content">
		<h2>Portfolio</h2>
		<hr>
		<% @projects.each do |project| %>
			<h3><%= link_to project.title, project %></h3>
			<p class="date"><%= project.created_at.strftime("%b %d, %Y") %></p>
		<% end %>
	</div>
</div>