<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>I'm Romina Case, a Java web developer based in Denver, Colorado. I've been building websites since AOL was a household name and dial-up modems were obligatory.</p>
    <p>Since then, web applications have evolved, and so have my skills in building them.</p>
    <a class="read-more-show hide" href="#">Read more &raquo;</a> <span class="read-more-content">
    <p>My skills include:</p>
    <ul>
      <li>
        <i>Java:</i> as a junior Java developer, I have over six months of experience with Java 8, JavaFX, Spring/Thymeleaf, Spark, Hibernate, and testing with JUnit. My favorite IDE is IntelliJ. I'm also experienced with Eclipse and BlueJ.
      </li>
      <li>
        <i>Back-End Development:</i> two years of experience building RESTful <%= link_to "production-grade web applications", projects_path %> in Ruby on Rails and Node.js.
      </li>
      <li>
        <i>Front-End Development:</i> two years of experience with vanilla JavaScript, HTML5, CSS3, SCSS, jQuery, and AJAX.
      </li>
      <li>
        <i>Web Design:</i> over ten years of experience with Photoshop and Adobe Creative Suite. Two years of wireframing experience with Balsamiq and Illustrator.
      </li>
      <li>
        <i>Databases:</i> MySQL and PostgreSQL
      </li>
      <li>
        <i>TDD:</i> RSpec and Minitest
      </li>
      <li>
        <i>DVCS:</i> Git and Github
      </li>
      <li>
        <i>Production Deployment:</i> Heroku and Amazon Web Services (AWS)
      </li>
    </ul>
    <div class="button_wrapper">
      <a href="<%= welcome_about_path %>" class="project_button">Learn More</a>
    </div>
    <br><br>
    <a class="read-more-hide hide" href="#">&laquo; Read less</a></span>
  </div>
  <div class="col-3 homepage_content">
    <h2>Portfolio</h2>
    <hr>
    <% @projects.each do |project| %>
      <h3><%= link_to project.title, project %></h3>
      <p class="date"><%= project.created_at.strftime("%b %d, %Y") %></p>
    <% end %>
    <%= link_to "See full portfolio", projects_path %>
  </div>
  <div class="col-2 homepage_content">
    <h2>Blog</h2>
    <hr>
    <% @posts.each do |post| %>
      <h3><%= link_to post.title, post %></h3>
      <p class="date"><%= post.created_at.strftime("%b %d, %Y") %></p>
    <% end %>
    <%= link_to "See full blog", posts_path %>
  </div>
</div>
