<header id="main_navigation" class="clearfix">
	<%= link_to "Modulo Oblongata", root_path, class: "name" %>
	<nav>
		<%= link_to "Portfolio", projects_path %>
		<%= link_to "Blog", posts_path %>
		<%= link_to "About Me", welcome_about_path %>
		<%= link_to "Contact", new_contact_path %>
		<% if user_signed_in? %>
			<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
		<% end %>
	</nav>
</header>
